* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #ffb154;
  --color-primary-alpha: #ffc37c;
  --color-secondary: #b4b4b4;
  --color-secondary-alpha: #d2d2d2;
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: black;
}
